@import "mixins";
/* Alert start */
$note-width: 35px;

.notification-alert {
  display: block;
  position: absolute;
  @include transition(0.3s all);
  //opacity: 0;
  right: 0;
  top: 40px;
  padding: 15px 14px;
  background: $maroon;
  // width: 0;
  max-width: 269px;
  width: 100%;
  border-right:5px solid $orange;
  @include shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
  //transform: matrix(1, 0, 0, -1, 0, 0);
  transition: width 5s; 
  @include radius(40px 0 0 40px);
  
  .icon {
    display: inline-block;
    vertical-align: middle;

    img {
      display: block;
    }
  }

  p {
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    font-size: 14px;
    color: $white;    ;
    width: calc(100% - #{$note-width});
    padding-left: 20px;
    font-weight:600;
    line-height:21px;

    a:link,
    a:visited {
      color: $orange;
      text-decoration: none;
    }
  }
  &.middle-viewport {
    right: 0;
    opacity: 1;
    min-width:266px;
  }
  @include mq(tablet){
    max-width: 96%;
  }
  
}
.animate-width {
  width: auto;
 }
/* Alert end */
