@import "sass/common/mixins";
@import "sass/common/variable";
@import "sass/common/privilege-variable";
@import "sass/common/custom";
@import "sass/common/slider";
@import "sass/common/select-2";
@import "sass/common/tabs";
@import "sass/common/select";
@import "sass/common/radio";
@import "sass/common/date_picker";
@import "sass/common/calculator";
@import "sass/common/only-calculator";
@import "sass/common/callback";

/* overwrite */
.ic-more:after {
	background: url(../images/icons/more-m.png) no-repeat;
}
.nav-tabs li {
	&.active {
		a {
			background-color: $orange !important;
		}
		&::before {
			background: url(../images/icons/active-left-m.png);
		}
		&::after {
			background: url(../images/icons/active-right-m.png);
		}
	}
}

/* range slider */
input[type="range"]::-webkit-slider-thumb {
	background: $orange;
	border: 1px solid $orange;
}
input[type="range"]::-moz-range-thumb {
	background: $orange;
	border: 1px solid $orange;
}
input[type="range"]::-ms-thumb {
	background: $orange;
	border: 1px solid $orange;
}
input[type="range"]::-ms-fill-lower {
	background: $orange;
}
